/*Devices with a width larger then 600px*/
@media screen and (min-width: 600px){
    div.column{
        font-size: 3vh;
    }
    p{
        font-size: 3vh;
    }
    canvas.forSmishing{
        width: 60svh;
        height: 96vh;
    }
    img.smishingKey{
        width: 60svh;
        height: 16vh;
    }
    div.flexPhishing{
        flex-direction: row;
    }
    div.flexForBadPackets{
        flex-direction: row;
    }
}
/*Devices with a width smaller than 600px*/
@media screen and (max-width: 600px){
    div.column{
        font-size: 1.5vh;
    }
    canvas.forSmishing{
        width: 35vh;
        height: 86vh;
    }
    img.smishingKey{
        width: 35vh;
        height: 14vh;
    }
    button.function{
        padding: 5%
    }
    div.flexPhishing{
        flex-direction: column;
    }
    div.flexForBadPackets{
        flex-direction: column;
    }
    img.phishingIMG{
        object-position: 0 0;
        object-fit: cover;
    }
}
div.menu{
    width: 85%;
    height: 50%;
    text-align: center;
    border: 10px solid black;
    margin: auto;
    float: center;
    background-color: white;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
div.form{
    width: 75%;
    height: 75%;
    text-align: left;
    margin: auto;
    float: center;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
button.selection{
    width: 40%;
    padding: 1%;
    background-color: lime;
    border: 2px solid black;
    margin: 2px;
    font-family: 'Tahoma';
    color: black;
    font-size: 0.9rem;
}
button.forSmishing{
    width: 150px; 
    background-color: lime;
    border: 2px solid black;
    margin: 2px;
    font-family: 'Tahoma';
    color: black;
    font-size: 0.9rem;
}
button.function{
    background-color: lime;
    border: 2px solid black;
    margin: 2px; 
    color: black;
    font-family: 'Tahoma';
    font-size: 0.9rem;
}
input.submit{
    width: auto;
    background-color: lime;
    border: 2px solid black;
    margin: 2px;
    font-family: 'Tahoma'; 
    color: black;
}
div.score{
    float: left;
}
body{
    background-color: blue;
    height: 100%;
}
canvas.forSmishing{
    border: 1px solid black;
    background-color: white;
    background-size: 100% 100%;
}
img.smishingKey{
    border: 1px solid black;
    background-color: black;
    background-size: 100% 100%;
    margin: 5px;
}
button.submit{
    width: auto;
    background-color: lime;
    border: 2px solid black;
    margin: 2px;
    font-family: 'Tahoma';
    color: black;
    font-size: 0.9rem;
}
div.column{
    width: auto;
    height: auto;
    text-align: left;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
}
canvas.forBadPackets{
    display: block;
    background: black;
    margin-top: 10px;
}
div.forBadPackets{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background: #1a1a1a;
    width: 87%;
    height: 50%;
    overflow: hidden;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
div.badPacketsScore{
    margin-left: 10px; 
    margin-top: 10px;
    margin-bottom: 0px;
    color: white; 
    font-size: 20px;
    align-self: flex-start;
    font-family: 'Tahoma';
}
div.menuForBadPackets{
    width: 80%;
    height: 60%;
    text-align: left;
    border: 10px solid black;
    margin: auto;
    float: center;
    background-color: white;
    margin-top: 5px;
    margin-bottom: 5px;
}
div.flexForBadPackets{
    display: flex; 
    align-items: center;
}
button.badPackets{
    width: 120px;
    padding: 1%;
    background-color: lime;
    border: 2px solid black;
    margin: 2px;
    color: black;
}
div.app-container {
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: left;
}
h1{
    color: black;
    font-family: 'Times New Roman', Times, serif; 
    font-weight: bold;
}
h2{
    color: black;
    
}
h3{
    color: black;
    font-family: 'Tahoma'
}
h4{
    color: black;
    font-family: 'Times New Roman', Times, serif; 
    font-weight: bold; 
    font-size: 1.1rem;
}
p{
    color: black;
    font-family: 'Tahoma';
}
div.flexBox{
    display: flex;
    justify-content: center;
    width: 100%;
    float: center;
}
b{
    color: black;
    font-family: 'Tahoma';
}
div.flexPhishing{
    display: flex;
    justify-content: center;
    float: center;
}
div.forVishing{
    width: 80%; 
    height: auto; 
    border: 10px solid #000; 
    background: lightgrey;
}
div.vishingBox{
    width: auto; 
    height: auto; 
    border: 2px solid #000; 
    font-size:25px;
}
div.vishingBottom{
    width: 80%;
    border: 10px solid #000; 
    background: white
}