div.menu{
    width: 75%;
    height: 50%;
    text-align: center;
    border: 10px solid black;
    margin: auto;
    float: center;
    background-color: white;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 5px;
}
div.form{
    margin-top: 5px;
    width: 75%;
    height: 75vh;
    text-align: left;
    margin: auto;
    float: center;
}
button.selection{
    width: 140px;
    padding: 1%;
    background-color: lime;
    border: 2px solid black;
    margin: 2px;
    font-family: 'Tahoma';
    color: black;
    font-size: 0.9rem;
}
button.function{
    background-color: lime;
    border: 2px solid black;
    margin: 2px; 
    color: black;
    font-family: 'Tahoma';
    font-size: 0.9rem;
}
input.submit{
    background-color: lime;
    border: 2px solid black;
    margin: 2px;
    font-family: 'Tahoma'; 
    color: black;
}
div.score{
    float: left;
}
body{
    background-color: blue;
}
canvas.forSmishing{
    border: 1px solid black;
    background-color: white;
}
button.submit{
    width: 55px;
    padding: 1%;
    background-color: lime;
    border: 2px solid black;
    margin: 2px;
}
div.column{
    width: 50px;
    float: left;
    text-align: left;
}
canvas.forBadPackets{
    display: block;
    background: black;
}
div.forBadPackets{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #1a1a1a;
    width: 850px;
    height: 675px;
    overflow: hidden;
    margin-left: 10px;
}
div.badPacketsScore{
    margin-left: 10px; 
    margin-top: 10px;
    color: white; 
    font-size: 20px;
    align-self: flex-start;
}
div.menuForBadPackets{
    width: 1000px;
    height: 700px;
    text-align: left;
    border: 10px solid black;
    margin: auto;
    float: center;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}
button.badPackets{
    width: 120px;
    padding: 1%;
    background-color: lime;
    border: 2px solid black;
    margin: 2px;
    color: black;
}
div.app-container {
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: left;
}
h1{
    color: black;
    font-family: 'Times New Roman', Times, serif; 
    font-weight: bold;
}
h2{
    color: black;
}
h3{
    color: black;
}
h4{
    color: black;
    font-family: 'Times New Roman', Times, serif; 
    font-weight: bold; 
    font-size: 1.1rem;
}

p{
    color: black;
}
